body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(228, 230, 233);
}

form{
    padding: 2rem;
    line-height: 30px;
}

input, fieldset{
    width: 50vw;
    padding: 5px;
}

button{
    padding: 10px 20px;
    margin: 5px 0;
}

main{
    padding: 30px;
    background-color: antiquewhite;
    text-align: center;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}
